body {
    font-family: 'Lexend Mega', sans-serif;
}

/*home page*/


/*navigation bar */
.navbar{
    margin-top: 30px;
}

.navbar a {
    color: rgb(77,215,250);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-left: 160px;
}

 /* unvisited link */
.navbar a:link {
  color: rgb(77,215,250);
}

/* visited link */
.navbar a:visited {
  color: rgb(146,211,110);
}

/* mouse over link */
.navbar a:hover {
    color: palegreen;
  }
  
  /* selected link*/
.navbar a:active {
    color:rgb(77,215,250);
  }

#home_search[type=text] {
    float: right;
    padding: 6px;
    border-style: solid;
    border-color:rgb(146,211,110);
    position: absolute;
    right: 10px;
    top: 2%;
    font-size: 15px;
  }


.navbar img {
    width: 37px;
    height: 50px;
    position: absolute;
    left: 1%;
    top:1.5%;
}

/*home page images*/ 

.homepageimage1 img {
    width: 500px; 
    height: 250px;
    margin: 50px 0px 0px 90px;
  }

  .homepageimage1 li {
      float:left;
      display:block;
  }
  
  .homepageimage1 .content1 {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    margin: 95% 0% 0% 6%;
  }

  .homepageimage2 img {
    width: 500px; 
    height: 250px;
    margin: 50px 0px 0px 90px;
  }

  .homepageimage2 li {
      float:left;
      display:block;
  }
  
  .homepageimage2 .content2 {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    margin: 0% 0% -20% 6%;
  }





/*footer*/

.home_footer {
    background-color: rgb(255,197,129);
	height: 20px;
	width: 91%;
	padding: 20px;
	border: 10px;
    margin: 320px 0px 0px 0px;
	float: left;
    padding-right: 120px;
    
}

.home_footer a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 130px;
}

.home-nav-links:hover{
    text-decoration: underline;
}

#socials img {
    float: right;
    position: absolute;
    right: 10px;
}

/*green title box*/

.greenbox {
    box-sizing: border-box;
    background-color: rgb(146,211,110);
    height: 250px;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
}

.greenbox h1 {
    text-align: center;
    color: rgb(59,76,90);
    font-size: 50px;
}

.greenbox p {
    text-align: center;
    color: white;
    font-size: 20px;
}

/*news letter email section*/

#newsletter {
    box-sizing: border-box;
    margin: 40px 0px 0px 200px;
    font-size: 20px;
    color: rgb(59,71,84);
}

#emailbox input[type=text] {
        box-sizing: border-box;
        padding: 6px;
        border-style: solid;
        border-color:rgb(146,211,110);
        font-size: 15px;
        float: left;
        margin-top: -40px;
        margin-left: 800px;
      }

button {
    box-sizing: border-box;
        padding: 6px;
        background-color: rgb(146,211,110) ;
        font-size: 15px;
        float: left;
        margin-top: -40px;
        margin-left: 1000px;
}




/* 
---------------------------------------------------------------------------------- */

/* the individual pages  */

body {
    font-family: 'Playfair Display', serif;
}

/* the top bar  */
img.cfgimage{
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.searchBar{
    text-align: right;
    margin-top: 5px;
    position: absolute;
    left:85%;
    top: 2%;
    text-align: center;
    color:grey;
} 

.searchBar:hover{
    border-color:palegreen;
}

.homePage{
    text-align: center;
    margin-top: 20px;
} 

.homePage a{
    text-decoration: none;
    color: black;
} 

.homePage a:hover{
    cursor: pointer;
    color: palegreen;
    text-decoration: underline;
}

/* the image bar  */
#bambi{
    background-image: url(images/fashion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
#dina{
    background-image: url(images/recycle1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

#cooking{
    background-image: url(images/cookingheader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 40px;

}


#energy{
    background-image: url(images/energy_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 40px;

}

/* main body of the article  */

p.paragraph {
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.paragraph {
    margin: 0 auto;
    width: 1000px;
    padding: 20px;
}

#para_heading{ 
    margin: 0 auto;
    text-decoration: none;
    font-size: 25px;
    color: limegreen;
}

a.bam_para_heading{
    text-decoration: none;
    padding-left: 16%;
    font-size: 25px;
    color: plum;
}

a.bam_para_heading:hover{
    text-decoration: underline;
}

/* images in body of article  */

#carouselExampleControls{
    width: 600px;
    margin: auto;
}

/* video */

iframe {
    display: block; 
    margin: auto;
    padding: 20px;
}

/* supporting article links  */

.navigation{
    text-align: center;
}

.navigation li{
    display: inline-block;
    list-style: none;
    text-decoration: black;
    font-size: 23px;
    margin: 25px;
}

li.nav-links a{
    color: dimgray;
    text-decoration: none;
}

li.nav-links a:hover{
    text-decoration: underline;
    color: lightcoral;
}


/* footer with the gallery */

#new_articles{
    font-size: 25px;
}

.page_footer{
    margin-top: 50px;
    padding-left:250px;
}

.card {
    float: left;
    margin: 20px 20px;
    margin-bottom: 30px;
    min-height: 410px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#link{
    color: black;
    text-decoration: none;
}

.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
    text-decoration: underline;
}


/*comment box*/

.container h5 {
    margin: 500px 0px 0px 10px;
}

#comment {
    width: 60%;
}

.form-group {
    margin: 150px;
    
}

.submitname{
    text-align: right;
    margin: -310px 0px 0px 900px;
    position: absolute;
    text-align: center;
    color:grey;
} 

.submitname:hover{
    border-color:palegreen;
}

#submitbutton button {
        box-sizing: border-box;
        padding: 6px;
        background-color: rgb(146,211,110) ;
        font-size: 15px;
        margin: -260px 0px 0px 900px;
}
